a#logout {
	position: absolute;
	right: 0;
}

section#dash {
	margin-top: 50px;
	padding-left: 96px;	
}

h1#notebooks-heading {
	text-align: center;
}

div.notebook:hover {
	background-color: #111111;
}

div.notebook {
	width: 100px;
	height: 100px;
	background-color: #191919;
	border: 1px solid black;
	border-radius: 5px;
	margin-right: 20px;
	margin-bottom: 20px;
	display: inline-block;
	cursor: pointer;
	word-wrap: break-word;
	word-break: hyphenate;
	line-height: 100px;
	text-align: center;
	padding-left: 4px;
	padding-right: 4px;
	overflow: hidden;
}

div.notebook span {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

div#menu {
	display: none;
	padding: 2px;
	border: 1px solid gray;
	background-color: black;
	opacity: 0.95;
	padding: 0px 10px 2px 0px;
}

div#menu h4 {
	text-align: center;
}

section#options {
	border: 1px solid gray;
	position: absolute;
	left: -100px;
	top: 145px;
}

section#options ul {
	list-style-type: none;
	padding: 2px 10px 2px 10px;
}