h1 {
	text-align: center;
}

.notebook {
	font-size: 2em;
	width: 150px;
	height: 150px;
	text-align: center;
}


.col-sm-2 {
	float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}